<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" href="/img/icon.png">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="main-content" >
  <h1>About me</h1>
  
  {{!-- <img class="portrait" src={{img}} alt="selfie"> --}}

  <div class="card" style="width: 18rem;">
    <div style="margin: auto;">
<img src={{img}} alt="selfie" class="card-img-top" >
  <div class="card-body">
    <p class="card-text">Este soy yo,apuesto y simpatico. Amante de la tecnología y en busca de un mundo mejor! </p>
  </div>
    </div>
  
</div>





  </div>
  {{>footer}}

</body>
</html>
