<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
  <link rel="icon" href="/img/icon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">

</head>
<body>
  <div class="main-content">
  {{>header}}
  
  <p>Use this site to get you weather!</p>
  <form action="">
    <input type="text" placeholder="Location">
    <button>Search</button>
  </form>
  {{!-- <img id="icon"> --}}
  <div id="data">
    {{!-- <p id="msg-01" ></p>
    <p id='msg-02'></p> --}}
    {{!-- <p id='msg-03'></p>
    <p id='msg-04'></p>
    <p id='msg-05'></p>
    <p id='msg-06'></p>
    <p id='msg-07'></p>
    <p id='msg-08'></p>
    <p id='msg-09'></p>
    <p id='msg-10'></p>
    <p id='msg-11'></p>
    <p id='msg-12'></p> --}}
  </div>
    

<table class="table ">
  <thead>
    <tr>
      <th scope="col"><img class="icons" id="icon"></th>
      <th scope="col"><p id="msg-01" ></p></th>
      <th scope="col"><p id='msg-02'></p></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><p id='msg-03'></p><img class="icons" src="img/icons/001-caliente.png" alt=""></td>
      <td><p id='msg-04'></p><img class="icons" src="img/icons/001-caliente.png" alt=""></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><p id='msg-05'></p><img class="icons" src="img/icons/002-frio.png" alt=""></td>
      <td><p id='msg-06'></p><img class="icons" src="img/icons/001-caliente.png" alt=""></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><p id='msg-07'></p><img class="icons" src="img/icons/008-presion.png" alt=""></td>
      <td><p id='msg-08'></p><img class="icons" src="img/icons/007-humedad.png" alt=""></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><p id='msg-09'></p><img class="icons" src="img/icons/006-viento.png" alt=""></td>
      <td><p id='msg-10'></p><img class="icons" src="img/icons/nube.png" alt=""></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td><p id='msg-11'></p><img class="icons" src="img/icons/011-salida-del-sol.png" alt=""></td>
      <td><p id='msg-12'></p><img class="icons" src="img/icons/010-puesta-de-sol.png" alt=""></td>
    </tr>
  </tbody>
</table>





  </div>
  
  {{>footer}}

  <script src="./js/app.js"></script>

</body>
</html>