<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGNA Weather app</title>
  <link rel="icon" href="/img/icon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">

</head>
<body>
  {{>header}}
  <div class="card0">
  <div class="main-content">
    
      <h2 id="locationField" ></h2>
    <div style="display: inline-flex; width: 100%;">
      <div>
        <h1 id='tempField'></h1>
      </div>
      <div>
        <img class="icons" id="icon" style="width: 25%; margin: auto;" ></img>
      </div>
    </div>
        <p id='feelsLikeField'></p>
        <p id='resumeField'></p>
    
  </div>
  </div>
<div class='card1'> 
  <div style="display:flex">
  <img src="/img/icons/temp-icon.png" alt="" style="width: 50px; margin: auto">
  </div>
  <div style="margin-left: 20%;">
<p id="minTempField"></p>
    <p id="maxTempField"></p>
  </div>
    
  </div>
  <div class='card1'> 
    <div style="display:flex">
    <img src="/img/icons/gauge.png" alt="" style="width: 50px; margin: auto">
    </div>
    <div style="margin-left: 20%;">
<p id="humField"></p>
    <p id="pressField"></p>
    <p id="windSpeedField"></p>
    </div>
    
  </div>

  <div class='card1'> 
    <div style="display:flex">
    <img src="/img/icons/sun--v1.png" alt="" style="width: 50px; margin: auto">
    </div>
    <div style="margin-left: 20%;">
<p id="sunriseField"></p>
    <p id="sunsetField"></p>
    </div>
    
  </div>
  
  {{>footer}}

  <script src="./js/app.js"></script>

</body>
</html>
