<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGNA Weather app</title>
  <link rel="icon" href="/img/icon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">

</head>
<body>
  {{>header}}
  <div class="main-content">
    
      <h2 id="locationField" ></h2>
    <div style="display: inline-flex; width: 100%;">
      <div>
        <h1 id='tempField'></h1>
      </div>
      <div>
        <img class="icons" id="icon" style="width: 150px; margin: auto;" ></img>
      </div>
    </div>
        <p id='feelsLikeField'></p>
        <p id='resumeField'></p>
    
  </div>
<div class='card1'> 
    <p>Sensacion termica</p>
    <p>Humedad</p>
    <p>Presion</p>
  </div>

  <div class='card1'> 
    <img src="/img/icons/sun--v1.png" alt="" style="width: 50px;">
    <p id="sunriseField"></p>
    <p id="sunsetField"></p>
  </div>
  
  {{>footer}}

  <script src="./js/app.js"></script>

</body>
</html>
