<header>
  <div >
    <h1 >{{title}} <img
        src="./img/icons/sun.png"
        alt=""
        style="width: 45px;"
      /></h1>
  </div>
  <button class="accordion">+</button>

  <div class="panel" >
    <form action="">
      <input type="text" placeholder="Your location HERE!" />
      <button>Go</button>
    </form>
  </div>

</header>
