<header>
  <h1>{{title}}<img
      src="./img/icons/sun.png"
      alt=""
      style="width: 50px;"
    /></h1>
    <button class="acordion">+</button>
  <div class="panel" style="text-align: right;">
    {{!-- <a href="/" >Weather</a>
    <a href="/about" >About</a>
    <a href="/help" >Help</a> --}}

    <form action="">
    <input type="text" placeholder="Your location HERE!">
    <button>Go</button>
  </form>
  </div>

</header>
