<header>
  <div >
    <h1 >{{title}} </h1>
    {{!-- <img
        src="./img/icons/sun.png"
        alt=""
      /> --}}
      <button class="accordion"><i class="fa fa-map-marker"></i></button>
  </div>
  

  <div class="panel" >
    <form action="">
      <input type="text" placeholder="Your location HERE!" />
      <button>Go</button>
    </form>
  </div>

</header>
