<header>
  <div style="display: inline; border:solid red;">
    <h1 style="width: 80%; border: solid green;">{{title}}<img
        src="./img/icons/sun.png"
        alt=""
        style="width: 45px;"
      /></h1>
    <button class="accordion">+</button>
  </div>

  <div class="panel" style="text-align: right;border: solid blue;">
    <form action="">
      <input type="text" placeholder="Your location HERE!" />
      <button>Go</button>
    </form>
  </div>

</header>
