<header>
  <h1>{{title}}<img
      src="./img/icons/sun.png"
      alt=""
      style="width: 50px;"
    /></h1>
  <div style="display: flex;">
    <a href="/" style="margin: auto;">Weather</a>
    <a href="/about" style="margin: auto";>About</a>
    <a href="/help" style="margin: auto;">Help</a>
  </div>

</header>
