body {
  color: #c9c9c9;
  background: linear-gradient(
    350deg,
    rgb(67, 55, 108) 0%,
    rgb(9, 9, 121) 35%,
    rgb(0, 212, 255) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 400px;
}

.main-content {
  flex-grow: 1;
  width: 100%;
}

#tempField {
  font-size: 50px;
}

img {
  width: 250px;
}
.icons {
  width: 20px;
  position: relative;
}
.day-icon {
  width: 60px;
  margin: auto;
}
footer {
  color: #b8b8b8;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding-top: 16px;
}

header {
  margin-top: 16px;
  padding: 8px;
  background-color: black;
  border-radius: 8px;
}

header button {
  font-size: 30px;
  cursor: pointer;
  border: none;
  background-color: #88888800;
  color: rgb(209, 209, 209);
  float: right;
}

header .panel {
  float: right;
}

header h1 {
  font-size: 30px;
  max-width: 80%;
  float: left;
}

header img {
  width: 38px;
  float: left;
}

header a {
  color: #a1a1a1;
  margin-right: 16px;
  text-decoration: none;
}

h1 {
  font-size: 35px;
}
.portrait {
  width: 300px;
}

input {
  border: ipx solid #cccccc;
  padding: 10px;
}

tr {
  width: 600px;
  background-color: #88888810;
  border: none;
}

.card1 {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: #0707078f;
  width: 100%;
  display: inline-flex;
}

.main-card {
  align-items: center;
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  color: #f6f6f6;
  background-color: #3f5ed9;
  width: 100%;
}

.card {
  margin: auto;
}
.five-days-card {
  margin: auto;
}

.accordion {
  background-color: rgba(238, 238, 238, 0);
  color: rgb(206, 206, 206);
  cursor: pointer;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  color: rgba(245, 245, 245, 0.979);
}
.active,
#myLoc:hover {
  color: rgba(245, 245, 245, 0.979);
}

.panel {
  display: none;
  background-color: rgba(13, 28, 34, 0);
  overflow: hidden;
}
