body{
  color: #c9c9c9;
  background: linear-gradient(360deg, rgb(98, 133, 209) 0%, rgb(8, 102, 224) 35%, rgb(0, 65, 90) 100%);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 400px;
}

.main-content{
  flex-grow: 1;
  width: 100%;

}

img{
  width: 250px;
}
.icons{
  width: 20px;
  position: relative;
}
footer{
  color: #b8b8b8;
  border-top: 1px solid #eeeeee;
  margin-top:  16px;
  padding-top: 16px;
}

header{
  margin-top: 16px;
  margin-bottom: 28px;

}

h1{
  font-size: 30px;
  margin: 16px;
  color: #ececec
}

header a{
  color: #a1a1a1;
  margin-right: 16px;
  text-decoration: none;
}

.portrait{
  width: 300px;
}

input{
  border: ipx solid #cccccc;
  padding: 8px;
}
button{
  cursor: pointer;
  border: solid 1px #888888;
  background-color:#88888883;
  color: rgb(255, 255, 255);
  padding: 8px;

}

tr {
  width: 600px;
  background-color: #88888810;
  border: none;
}

.card1{
  margin-top: 16px;
  padding: 16px;
border-radius: 10px;
background-color: #ffffff2a;
width: 100%;
}

.card0{
  align-items: center;
  margin-top: 16px;
  padding: 16px;
border-radius: 10px;
color: #f6f6f6;
background-color: #ffffff17;
width: 100%;
}
